@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@400;500;700&display=swap');

@mixin roboto {
    font-family: 'roboto';
}

@mixin PTSans {
    font-family: 'PT Sans';
}

$generalColor: #1390e5;

$duration: 0.15s;